%h1 Listing admin_companies

%table
  %tr
    %th
    %th
    %th

  - @admin_companies.each do |admin_company|
    %tr
      %td= link_to "#{admin_company.name}", admins_company_path(admin_company)
      %td= link_to 'Edit', edit_admins_company_path(admin_company)
      %td= link_to 'Destroy', admins_company_path(admin_company), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_admins_company_path
