%html
	%head
		%title= "Print & Get"
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
		= #render 'layouts/shim'
	%body
		= render 'layouts/admins/header'
		.container
			%p.notice= notice
			%p.alert= alert
			= yield
		.navbar.navbar-fixed-bottom
		= render 'layouts/admins/footer'
