%h1 Listing clients

%table
  %tr
    %th nome
    %th email
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.email
      %td= link_to 'Show', admins_client_path(client)
      %td= link_to 'Edit', edit_admins_client_path(client)
      %td= link_to 'Destroy', admins_client_path(client), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Client', new_admins_client_path
